MYSQL_ROOT_PASSWORD=root
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=wordpress
WORDPRESS_CONFIG_ADMIN_USER=admin
WORDPRESS_CONFIG_ADMIN_EMAIL=test@test.com
WORDPRESS_CONFIG_ADMIN_PASSWORD=admin
