all:
  vars:
    required_docker_label: "org.codekaizen.application=codekaizen-website"
    ansible_user: ansible
    build_number: "{{ ansible_date_time.iso8601_micro | to_uuid }}"
  hosts:
    # cdeed53d37a742f08a227faafc832595:
    #   ansible_host: 192.168.0.20
    # ad42e8b2fa7d4a3dbc5aecef7810a624:
    #   ansible_host: 192.168.0.21
    9c9b38653dae4f4ebbd120adba40ac33:
      ansible_host: 192.168.0.28
      docker_networks: []
      docker_volumes: []
      docker_containers:
        - name: "codekaizen-website-wordpress-{{ build_number }}"
          image: "ghcr.io/codekaizen-github/codekaizen-website-wp:latest"
          labels:
            org.codekaizen.application: "codekaizen-website"
            org.codekaizen.service: "wordpress"
            org.codekaizen.build_number: "{{ build_number }}"
          command: "sleep infinity"
          restart_policy: "always"
          replica_count: 3
          filters_string: '--filter "label=org.codekaizen.application=codekaizen-website" --filter "label=org.codekaizen.service=wordpress"'
  # children:
  #   docker_services:
  #     hosts:
  #       cdeed53d37a742f08a227faafc832595:
  #       ad42e8b2fa7d4a3dbc5aecef7810a624:
  #       9c9b38653dae4f4ebbd120adba40ac33:
